<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InputServlet</servlet-name>
        <servlet-class>Servlet.InputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>Servlet.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiswaServlet</servlet-name>
        <servlet-class>Servlet.SiswaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputNilai</servlet-name>
        <servlet-class>Servlet.InputNilai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HitungNilai</servlet-name>
        <servlet-class>Servlet.HitungNilai</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputServlet</servlet-name>
        <url-pattern>/InputServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiswaServlet</servlet-name>
        <url-pattern>/SiswaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HitungNilai</servlet-name>
        <url-pattern>/HitungNilai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputNilai</servlet-name>
        <url-pattern>/InputNilai</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
