<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NilaiServlet</servlet-name>
        <servlet-class>Control.NilaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TampilRekap</servlet-name>
        <servlet-class>Control.TampilRekap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NilaiServlet</servlet-name>
        <url-pattern>/NilaiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TampilRekap</servlet-name>
        <url-pattern>/TampilRekap</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
